In [24]:
try:
    from StringIO import StringIO
except ImportError:
    from io import StringIO
# IMPORT LIBRARIES
from io import BytesIO
import csv
import io
# PANDA AND BOTO3 MUST BE INCLUIDED IN THE REQUIREMENTS TEXT FILE
import pandas as pd
import boto3
import numpy as np
from decimal import Decimal
import json
import sys, os, base64, datetime, hashlib, hmac 
import sys, os, base64, datetime, hashlib, hmac 

#  AWS RESOURCES
try:
    from urlparse import urlparse, parse_qs
except ImportError:
    from urllib.parse import urlparse, parse_qs
    
client = boto3.client('sagemaker-runtime')
session = boto3.session.Session(region_name='us-east-1')
s3client = session.client('s3')

#GET API - CHALICE
#def handle_data():
# READ EMPLOYEE DATA BASE FROM S3 BUCKTE
resedb = s3client.get_object(Bucket='sagemaker-hremployeeattrition-0001', Key='database/EmployeeDatabase.csv')
dataset = pd.read_csv(io.BytesIO(resedb['Body'].read()), encoding='utf8')

#DATA SET PREPROCESSING (DROP COLUMNS NOT NEEDED FOR THE MODEL)
dataset.drop(['BusinessTravel', 'Attrition','EmployeeNumber','Atrition_Prediction_Value', 'Risk', 'EmployeeCount','StandardHours','Over18','JobRole'],axis = 1, inplace=True)
#TRANSFORM CATEGORICAL COLUMNS INTO DUMMY VARIABLES FOR THE MODEL TO WORK PROPERLY
cols_to_transform = ['Department', 'EducationField', 'Gender' , 'MaritalStatus' , 'OverTime']
dataset = pd.get_dummies(dataset, columns = cols_to_transform )
# RUN TRAINED MODEL FROM RUNNING SAGEMAKER ENDPOINT
input_file = StringIO()
dataset.to_csv(input_file, header=False, index=False)
res = client.invoke_endpoint(
                EndpointName='xgboost-2018-09-30-20-27-49-609',
                Body=input_file.getvalue(),
                ContentType='text/csv',
                Accept='Accept'
            )
# TRANSFORM PREDICTIONS INTO AN ARRAY, DATA FRAME
predictions_array = np.fromstring(res ['Body'].read(), sep=',')
dtattrition = pd.DataFrame(predictions_array)
dtattrition.columns = ['Atrition_Prediction_Value']
dtattrition = pd.DataFrame(dtattrition) 
# DEFINE THE CUTOFF AND THE INTERPRETAION FOR THE RESULT OF THE MODEL
def f(row):
    if Decimal(row[0]) > 0.21:
        val = "High"
    else:
        val = "Low"
    return val
dtattrition['Risk']= dtattrition.apply(f, axis=1) 
# APPLY SOME FORMATTING TO THE PREDICTIONS OUTPUT
dtattrition['Atrition_Prediction_Value'] = (dtattrition['Atrition_Prediction_Value'].round(4))*100
dtattrition['Atrition_Prediction_Value'] = dtattrition['Atrition_Prediction_Value'].astype(str)  + "%"
dtattrition = pd.DataFrame(dtattrition)
# READ ORINGINAL DATABASE AND LEFT JOIN WITH THE NEW PREDICTIONS OUTPUT
resedb = s3client.get_object(Bucket='sagemaker-hremployeeattrition-0001', Key='database/EmployeeDatabase.csv')
dataset = pd.read_csv(io.BytesIO(resedb['Body'].read()), encoding='utf8')
# DROP OLD COLUMNS RESULT AND REPLACE IT WITH THE NEW PREDICTIONS
dataset.drop(['Atrition_Prediction_Value', 'Risk'],axis = 1, inplace=True)
dataset = pd.concat([dtattrition,dataset], axis=1)
input_file2 = StringIO()
dataset.to_csv(input_file2,header=True, index=False)
# UPLOAD RESULTING MODEL IN AN S3 BUCKET REPLACING THE OLD EMPLOYEE DATABASE FILE 
#  ress3 = s3client.put_object(
      #      ACL='public-read-write',
       #     Bucket='sagemaker-hremployeeattrition-0001',
        #    Key='database/EmployeeDatabase.csv',
         #   Body=input_file2.getvalue(),
          #  ContentType='text/csv'
        #)

#   return res3

In [25]:
dataset

,Atrition_Prediction_Value,Risk,EmployeeNumber,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,49.45%,High,1,41,Yes,Travel_Rarely,1102,Sales,1,2,...,1,80,0,8,0,1,6,4,0,5
1,1.21%,Low,2,49,No,Travel_Frequently,279,Research & Development,8,1,...,4,80,1,10,3,3,10,7,1,7
2,75.79%,High,4,37,Yes,Travel_Rarely,1373,Research & Development,2,2,...,2,80,0,7,3,3,0,0,0,0
3,26.640000000000004%,High,5,33,No,Travel_Frequently,1392,Research & Development,3,4,...,3,80,0,8,3,3,8,7,3,0
4,6.87%,Low,7,27,No,Travel_Rarely,591,Research & Development,2,1,...,4,80,1,6,3,3,2,2,2,2
5,2.44%,Low,8,32,No,Travel_Frequently,1005,Research & Development,2,2,...,3,80,0,8,2,2,7,7,3,6
6,14.11%,Low,10,59,No,Travel_Rarely,1324,Research & Development,3,3,...,1,80,3,12,3,2,1,0,0,0
7,18.22%,Low,11,30,No,Travel_Rarely,1358,Research & Development,24,1,...,2,80,1,1,2,3,1,0,0,0
8,5.2299999999999995%,Low,12,38,No,Travel_Frequently,216,Research & Development,23,3,...,2,80,0,10,2,3,9,7,1,8
9,4.36%,Low,13,36,No,Travel_Rarely,1299,Research & Development,27,3,...,2,80,2,17,3,2,7,7,7,7
10,6.34%,Low,14,35,No,Travel_Rarely,809,Research & Development,16,3,...,3,80,1,6,5,3,5,4,0,3
11,4.99%,Low,15,29,No,Travel_Rarely,153,Research & Development,15,2,...,4,80,0,10,3,3,9,5,0,8
12,17.73%,Low,16,31,No,Travel_Rarely,670,Research & Development,26,1,...,4,80,1,5,1,2,5,2,4,3
13,4.9399999999999995%,Low,18,34,No,Travel_Rarely,1346,Research & Development,19,2,...,3,80,1,3,2,3,2,2,1,2
14,89.68%,High,19,28,Yes,Travel_Rarely,103,Research & Development,24,3,...,2,80,0,6,4,3,4,2,0,3
15,34.449999999999996%,High,20,29,No,Travel_Rarely,1389,Research & Development,21,4,...,3,80,1,10,1,3,10,9,8,8
16,33.339999999999996%,High,21,32,No,Travel_Rarely,334,Research & Development,5,2,...,4,80,2,7,5,2,6,2,0,5
17,22.25%,High,22,22,No,Non-Travel,1123,Research & Development,16,2,...,2,80,2,1,2,2,1,0,0,0
18,1.59%,Low,23,53,No,Travel_Rarely,1219,Sales,2,4,...,3,80,0,31,3,3,25,8,3,7
19,10.91%,Low,24,38,No,Travel_Rarely,371,Research & Development,2,3,...,3,80,0,6,3,3,3,2,1,2
20,4.390000000000001%,Low,26,24,No,Non-Travel,673,Research & Development,11,2,...,4,80,1,5,5,2,4,2,1,3
21,69.42%,High,27,36,Yes,Travel_Rarely,1218,Sales,9,4,...,2,80,0,10,4,3,5,3,0,3
22,10.16%,Low,28,34,No,Travel_Rarely,419,Research & Development,7,4,...,3,80,0,13,4,3,12,6,2,11
23,41.78%,High,30,21,No,Travel_Rarely,391,Research & Development,15,2,...,4,80,0,0,6,3,0,0,0,0
24,27.060000000000002%,High,31,34,Yes,Travel_Rarely,699,Research & Development,6,1,...,3,80,0,8,2,3,4,2,1,3
25,0.88%,Low,32,53,No,Travel_Rarely,1282,Research & Development,5,3,...,4,80,1,26,3,2,14,13,4,8
26,64.11%,High,33,32,Yes,Travel_Frequently,1125,Research & Development,16,1,...,2,80,0,10,5,3,10,2,6,7
27,1.8900000000000001%,Low,35,42,No,Travel_Rarely,691,Sales,8,4,...,4,80,1,10,2,3,9,7,4,2
28,1.43%,Low,36,44,No,Travel_Rarely,477,Research & Development,7,4,...,4,80,1,24,4,3,22,6,5,17
29,5.11%,Low,38,46,No,Travel_Rarely,705,Sales,2,4,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,15.659999999999998%,Low,2053,29,No,Travel_Rarely,1378,Research & Development,13,2,...,1,80,1,10,2,3,4,3,0,3
1460,28.860000000000003%,High,2054,29,No,Travel_Rarely,468,Research & Development,28,4,...,2,80,0,5,3,1,5,4,0,4
1461,52.56999999999999%,High,2055,50,Yes,Travel_Rarely,410,Sales,28,3,...,2,80,1,20,3,3,3,2,2,0
1462,25.119999999999997%,High,2056,39,No,Travel_Rarely,722,Sales,24,1,...,1,80,1,21,2,2,20,9,9,6
1463,9.6%,Low,2057,31,No,Non-Travel,325,Research & Development,5,3,...,2,80,0,10,2,3,9,4,1,7
1464,20.9%,Low,2060,26,No,Travel_Rarely,1167,Sales,5,3,...,4,80,0,5,2,3,4,2,0,0
1465,1.95%,Low,2061,36,No,Travel_Frequently,884,Research & Development,23,2,...,3,80,1,17,3,3,5,2,0,3
1466,1.54%,Low,2062,39,No,Travel_Rarely,613,Research & Development,6,1,...,1,80,1,9,5,3,7,7,1,7
1467,10.81%,Low,2064,27,No,Travel_Rarely,155,Research & Development,4,3,...,2,80,1,6,0,3,6,2,0,3
1468,1.43%,Low,2065,49,No,Travel_Frequently,1023,Sales,2,3,...,4,80,0,17,3,2,9,6,0,8
1469,2.77%,Low,2068,34,No,Travel_Rarely,628,Research & Development,8,3,...,1,80,0,6,3,4,4,3,1,2
1470,19.17%,Low,9999,29,No,Travel_Rarely,1378,Research & Development,13,2,...,1,80,1,10,2,3,4,3,0,3
1471,13.74%,Low,9192,29,Yes,Travel_Rarely,1092,Research & Development,1,4,...,2,80,3,4,3,4,2,2,2,2
1472,15.950000000000001%,Low,92394,42,No,Travel_Rarely,300,Research & Development,2,3,...,1,80,0,24,2,2,22,6,4,14
1473,14.06%,Low,12,56,Yes,Travel_Rarely,310,Research & Development,7,2,...,4,80,1,14,4,1,10,9,9,8
1474,20.9%,Low,2060,26,No,Travel_Rarely,1167,Sales,5,3,...,4,80,0,5,2,3,4,2,0,0
1475,2.68%,Low,2061,36,No,Travel_Frequently,884,Research & Development,23,2,...,3,80,1,17,3,3,5,2,0,3
1476,0.73%,Low,6588,39,No,Travel_Rarely,613,Research & Development,6,1,...,1,80,1,9,5,3,7,7,1,7
1477,21.21%,High,21654,27,No,Travel_Rarely,155,Research & Development,4,3,...,2,80,1,6,0,3,6,2,0,3
1478,1.9800000000000002%,Low,24552,49,No,Travel_Frequently,1023,Sales,2,3,...,4,80,0,17,3,2,9,6,0,8
1479,4.35%,Low,2068,34,No,Travel_Rarely,628,Research & Development,8,3,...,1,80,0,6,3,4,4,3,1,2
1480,14.66%,Low,9192,29,Yes,Travel_Rarely,1092,Research & Development,1,4,...,2,80,3,4,3,4,2,2,2,2
1481,18.32%,Low,92394,42,No,Travel_Rarely,300,Research & Development,2,3,...,1,80,0,24,2,2,22,6,4,14
1482,13.62%,Low,12,56,Yes,Travel_Rarely,310,Research & Development,7,2,...,4,80,1,14,4,1,10,9,9,8
1483,18.11%,Low,2060,26,No,Travel_Rarely,1167,Sales,5,3,...,4,80,0,5,2,3,4,2,0,0
1484,1.95%,Low,2061,36,No,Travel_Frequently,884,Research & Development,23,2,...,3,80,1,17,3,3,5,2,0,3
1485,0.65%,Low,6588,39,No,Travel_Rarely,613,Research & Development,6,1,...,1,80,1,9,5,3,7,7,1,7
1486,10.81%,Low,21654,27,No,Travel_Rarely,155,Research & Development,4,3,...,2,80,1,6,0,3,6,2,0,3
1487,1.63%,Low,24552,49,No,Travel_Frequently,1023,Sales,2,3,...,4,80,0,17,3,2,9,6,0,8
1488,2.77%,Low,2068,34,No,Travel_Rarely,628,Research & Development,8,3,...,1,80,0,6,3,4,4,3,1,2